TOKEN=""
MYSQL_USER=""
MYSQL_PASSWORD=""
DB_NAME=""
SAMAD_USERNAME=""
SAMAD_PASSWORD=""
CREDENTIAL_SECRET="3a0f7fc07bbb128f035cf41540214a6bad1e764783ckjhe33f9c9f3b852ec48b"
PORT=3000
DOMAIN="https://samad-sharif.ir"